<p>Usuario con id: <b><%= @user.id %></b> </p>
<h1><%= @user.name %></h1> 
<h3>Email: <%= @user.email_address %></3>
<h4>Creado: <%= @user.created_at %></h4>
<h4>Productos:
 	<% @products.each do |product| %>
	<li><%= product.title%> <%= link_to "Ver producto", "/users/:user_id/products/#{product.id}" %>
	</li>
	<% end %>
</h4>
<h3><%= link_to "Crear nuevo producto", new_user_product_path(@user) %></h3>