<h1>Añadir Producto</h1>
<%= form_for [@user, @product] do |f| %>
	<%= f.label :Titulo%>
	<%= f.text_field :title %>

	<%= f.label :Descripción %>
	<%= f.text_field :description %>

	<%= f.label :Fecha_oferta %> 
    <%= f.date_field :deadline%> 

	<%= f.button %>
	<% end %>
